# IDEA
.idea
*.iml
*.ipr
*.iws

# Gradle
.gradle
out/
build/**
**/build/

# Maven
log/
target/

# Mac
.DS_Store

# Eclipse
**/*.project
**/*.classpath
**/*.settings

# Project
*.hprof
logs/
*.log
**/*.log
**/*.log.*